/*

   FONT STYLE

*/

.fsn     { font-style: normal; }
.i       { font-style: italic; }

@media (medium-and-large) {
  .fsn-ns     { font-style: normal; }
  .i-ns       { font-style: italic; }
}

@media (medium) {
  .fsn-m     { font-style: normal; }
  .i-m       { font-style: italic; }
}

@media (large) {
  .fsn-l     { font-style: normal; }
  .i-l       { font-style: italic; }
}
