/*

  SVG FILLS

*/

.fill-black { fill: var($black); }
.fill-near-black { fill: var($near-black); }
.fill-dark-gray { fill: var($dark-gray); }
.fill-mid-gray { fill: var($mid-gray); }
.fill-gray { fill: var($gray); }
.fill-silver { fill: var($silver); }
.fill-light-silver { fill: var($light-silver); }
.fill-light-gray { fill: var($light-gray); }
.fill-near-white { fill: var($near-white); }
.fill-white { fill: var($white); }
.fill-blue { fill: var($blue); }
.fill-yellow { fill: var($yellow); }
.fill-orange { fill: var($orange); }
.fill-red { fill: var($red); }
.fill-teal { fill: var($teal); }
.fill-green { fill: var($green); }
.fill-purple { fill: var($purple); }