/*

  SVG STROKES

*/

.sw-4 { stroke-width: 4; }

.stroke-black { stroke: var($black); }
.stroke-near-black { stroke: var($near-black); }
.stroke-dark-gray { stroke: var($dark-gray); }
.stroke-mid-gray { stroke: var($mid-gray); }
.stroke-gray { stroke: var($gray); }
.stroke-silver { stroke: var($silver); }
.stroke-light-silver { stroke: var($light-silver); }
.stroke-light-gray { stroke: var($light-gray); }
.stroke-near-white { stroke: var($near-white); }
.stroke-white { stroke: var($white); }
.stroke-blue { stroke: var($blue); }
.stroke-yellow { stroke: var($yellow); }
.stroke-orange { stroke: var($orange); }
.stroke-red { stroke: var($red); }
.stroke-teal { stroke: var($teal); }
.stroke-green { stroke: var($green); }
.stroke-purple { stroke: var($purple); }